<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar status | ResolveDesk</title>
</head>
<body>
{% extends 'chamados/base.html' %}

{% block title %}Alterar status | ResolveDesk{% endblock %}

{% block content %}
    <h1>Alterar status</h1>
    <p>Chamado #{{ chamado.id }} — {{ chamado.titulo }}</p>

    <div class="card">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="acoes">
                <button type="submit">Salvar status</button>

                <a href="{% url 'detalhe_chamado' chamado.id %}">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
{% endblock %}
</body>
</html>