<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chamados | ResolveDesk</title>
</head>
<body>
    <h1>ResolveDesk</h1>
    <h2>Lista de Chamados</h2>
    <form method="get" action="{% url 'listar_chamados' %}">
        <label for="busca">Pesquisar chamados e soluções:</label>

        <input
            type="search"
            id="busca"
            name="busca"
            value=" {{ busca }}"
            placeholder="Ex: impressora ou driver"
        >

        <button type="submit">Pesquisar</button>
        <a href="{% url 'listar_chamados' %}">Limpar busca</a>
    </form>

    <a href="{% url 'novo_chamado' %}">Abrir Novo Chamado</a>

    {% for chamado in chamados %}
        <article>
            <h3>
                <a href="{% url 'detalhe_chamado' chamado.id %}">
                    {{ chamado.titulo }}
                </a>
            </h3>
            <p>{{ chamado.descricao }}</p>
            <p>Status: {{ chamado.get_status_display }}</p>
            <a href="{% url 'atualizar_status' chamado.id %}">Alterar Status</a>
            <p>Criado em: {{ chamado.criado_em|date:"d/m/Y H:i" }}</p>
        </article>
    {% empty %}
        {% if busca %}
            <p>Nenhum chamado encontrado para "{{ busca }}".</p>
        {% else %}
            <p>Nenhum chamado cadastrado ainda.</p>
        {% endif %}
    {% endfor %}
</body>
</html>