<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'chamados/base.html' %}

    {% block title %}Entrar | ResolveDesk{% endblock %}

    {% block content %}
        <h1>Entrar no ResolveDesk</h1>
        <p>Use seu usuário e senha para acessar o sistema</p>

        <div class="card">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}

                {% if next %}
                    <input type="hidden" name="text" value="{{ next }}">
                {% endif %}

                <div class="acoes">
                    <button type="submit">Entrar</button>
                </div>
            </form>
        </div>
    {% endblock %}
    
</body>
</html>