<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
{% extends 'chamados/base.html' %}

{% block title %} Novo chamado | ResolveDesk {% endblock %}

{% block content %}
    <div class="card">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}

            <div class="acoes">
                <button type="submit">Salvar chamado</button>

                <a href="{% url 'listar_chamados' %}">
                    Cancelar
                </a>
            </div>
        </form>

    </div>
{% endblock %}
</body>
</html>