<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar solução | ResolveDesk</title>
</head>
<body>
    <h1>Registrar solução</h1>
    <h2>{{ chamado.titulo }}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}

        <button type="submit">Salvar solução</button>
    </form>

    <a href="{% url 'detalhe_chamado' chamado.id %}">
        Voltar para o chamado
    </a>
</body>
</html>